@{
    ViewBag.Title = "Home Page";
}

<div class="my-app" ng-app="myapp" ng-controller="SomeController as controller">
    <div>
        <a href="#"
           ng-click="controller.tab1Click()"
           class="tab"
           ng-class="controller.getTab1CssClasses()">
            Tab 1
        </a>
        <a href="#"
           ng-click="controller.tab2Click()"
           class="tab"
           ng-class="controller.getTab2CssClasses()">
            Tab 2
        </a>
        <div class="message">
            {{ controller.message }}
        </div>
    </div>
</div>

<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<script src="~/Scripts/angular-messages.js"></script>

<script src="~/js/src/app.js"></script>